body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.one{
    display: flex;
}
h1{
    font-size: 40px;
    color:burlywood;
}
p{
    color: rgb(184, 50, 50);
    font-size: 15px;
}
.orange-color{
    color: orange;
}
.half{
    padding-left: 20px;
    margin-left:5px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(salmon,orange);
    color:white;
    padding:10px;
    margin: 5px;
    border-radius: 30px;
}
.two{
    display: flex;
    margin-top: 100px;
    margin-bottom: 200px;
    background-image: url(images/shapes/7.png);
}
.centre-text{
    text-align: center;
}
.three{
    display: flex;
   
   
}
.three div img {
    width: 100%;
   border-radius: 20px;
   text-align: center;
    
}
.box{
    width:30%;
    float:left;
    box-shadow:10px 10px 50px gray ;
    border-radius: 15px;
    background-color: white;
    padding:20px;
    margin:35px;
    }
    .footer{
        height:200px;
        width:100%;
        background: black;
        text-align: center;
        margin-top: 200px;
    }
